<!DOCTYPE html>
<html lang="en">
<title>{{ .Site.Params.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{{ $importPrefix := .Site.Params.go_module_name }}
{{ with .File }}
  {{ $pageDir := strings.TrimRight "/" .Dir }}
  {{ if $pageDir }}
    {{ $importPrefix = printf "%s/%s" $importPrefix $pageDir }}
  {{ end }}
{{ end }}
<meta name="go-import" content="{{ $importPrefix }} git {{ .Site.Params.github_project_repo }}">
<meta name="go-source" content="{{ $importPrefix }} {{ .Site.Params.github_project_repo }} {{ .Site.Params.github_project_repo }}/tree/master{/dir} {{.Site.Params.github_project_repo}}/blob/master{/dir}/{file}#L{line}">
<script>
  setTimeout(function() {
    window.location.href = "https://pkg.go.dev/{{ $importPrefix }}";
  }, 3000);
</script>
</head>
<body>
<a href="https://pkg.go.dev/{{ $importPrefix }}">Redirecting to documentation...</a>
</body>
</html>
