{{ $color := .Get "color" | default .Ordinal -}}
{{ $height := .Get "height" | default "auto"  -}}
{{ $type   := .Get "type" | default "container" -}}

<div><a id="td-block-{{ .Ordinal }}" class="td-anchor-no-extra-offset"></a></div>
<section class="row td-box td-box--{{ $color }} td-box--height-{{ $height }}">
  <div class="col container">
    <div class="{{ $type }}">
      {{/* Do NOT remove this comment! It ends the HTML block above. See https://spec.commonmark.org/0.30/#html-blocks, 7. */}}
      {{ .Inner -}}
    </div>
  </div>
</section>
{{/**/ -}}
